*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
html {
    
    scroll-behavior: smooth;
    font-family: -apple-system, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*Estilização do Corpo da Página*/
body{
    background:#444;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1; /*espaçamento entre paragrafo */
    font-family: 'tahoma','Arial';
}
/*Estilização da sessão HEADER da página*/
header{
    background: #444;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img, .navbar-brand img {
    width: 120px;

}

main {
    background-color: #444;
    text-align: center;
}
/*Estilização da sessão NAV (navegação da página)*/

.classe-p {
    background-color: #444;
    text-align: right;
    margin-right: 38%; 
    font-size: 20px;
    font-weight: bold;
    color: beige;
    padding-bottom: 20px;

}

nav li {
    display: inline; /* alinhar menu */
    font-size: 18px;
    
}
nav a{
    text-transform: uppercase;
    color: rgb(187, 187, 187);
    padding: 0 10px;
    text-decoration: none;

}
nav a:hover, nav a:focus, nav a:active{
    color:#ffe100;
    text-decoration: underline;
    transition: all 1s; /* da um atraso de 1s no hover*/
}
/*Estilização das listas da página*/
ul{
    list-style: none; 
    
         
}
/*Estilização do Logotipo*/
.logo_guayacan{
    width: 100%;
    position: relative;
    margin: 0 30px;
    

}
.logo{
    height:auto;
    width: 100%;
}
    
/*Banner */
.banner img{
        position: absolute;
        width: 100%;
        height: 400px;
        object-fit: cover;
}


/* estilizando titulo principal */
.princ {
    /* color: #994f4f; */
    background-color:#f0e3d7;
}
.titulo-principal{
    font: initial;
    font-style: oblique;
    text-decoration: underline;
    background-color: #f0e3d7;
    text-align: center;
    font-size: 45px;  /* dobro da fonte padrão*/
    margin: 1cm 0cm 1cm  0;
    clear: left;
}

.principal {
    color: #994f4f;
    width: 55%;
    margin: 0 0 60px  0;
    background-color: #f0e3d7;
    text-align: justify;
    margin-left: 17%;
    margin-top: 420px;
    
}

.principal em {
    color: #994f4f;
    font-style: italic;
}

.sobre {
    width: 45%;
    float: left;
    margin: 0 52px 0px 0;
}
.div-sobre{
    background-color: #e0e0e0;
    width: 130%;
    padding-top: 14%;
    padding-bottom: 135px;
    padding-right: 74px;
}

.line{
    border: double;
    border-bottom: 1px;
    height: 1px;
    width: 90%;
    margin: auto;
}
.line2{
    border-bottom: 1px;
    height: 1px;
    width: 100%;
    margin: auto;
}


.map {
    display: block;
    color: #994f4f;
}

.titulo-map{
    font: initial;
    font-style: oblique;
    text-decoration: underline;
    background-color: #f0e3d7;
    text-align: center;
    font-size: 45px;
    margin: 1cm 8cm 1cm 0;
    clear: left;
}


.map p {
    margin: 2% 30% 2em 11%;
    text-align: center;
}
iframe {
    border: 0;
    width: 100%;
    height: 500px;
}

.beneficios {
    padding: 3em 0;
    background: #f0e3d7;
    text-decoration: underline;
    font-size: 45px;
}

.titulo-beneficio{
    font: initial;
    font-style: oblique;
    text-decoration: underline;
    background-color: #f0e3d7;
    text-align: center;
    font-size: 45px;
    margin: 1cm 8cm 1cm 0;
    clear: left;
}

.conteudo-beneficios{
    width: 66%;
    height: 83%;
    margin: 0 0 5% 14%;
    text-align: start;
}

.lista-beneficio{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.conteudo_click {
    width: 40%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px 0px #000000;
}
.conteudo_click:hover {
    opacity: 0.7;
}

.itens {
    line-height: 1.5;
}

.itens:before {
    content: "- ";
}


.video{
    width: 100%;
    margin: 2em auto 50px 0;
    padding-left: 40px;
    padding-right: 40px;
 }
footer{
    color: #e0e0e0;
    text-align: center;
    background: #444;
}



/* PAGINA COMO TRABALHAMOS*/
.banner-comotrabalhamos {
    position: absolute;
        width: 100%;
        height: 400px;
        object-fit: cover; 
}
.container-servico {
    text-align: center;
    background: #444;
    color: white;
    padding-top: 470px;
    padding-bottom: 150px;
    
  }

  .container-servico h2 {
    font-size: 30px;
    margin-bottom: 70px;
  }

  .servico article {
    width: 30%;
  }
  
  .servico {
    display: flex;
    justify-content: space-around;
  }
  .servico article img {
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
    height: 230px;
  }

  .servico article p{
    margin-top: 20px;
  }

  /* contatos*/ 

  .contato_texto{
    text-align: center;
    padding: 0 0 2% 0;
    
  }

  .line-contato{
    border-bottom: 1px;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 0%;
}

  .contato-titulo{
    font-size: 30px;
    font-weight: bold;
    color: beige;
    padding-bottom: 20px;
  }

  form{
    margin-left: 20%;
    margin-bottom: 20px;
  }

  form label, form legend{
    display: block;
    font-size: 20px;
    color: #e0e0e0;
    margin: 0 0 10px;
  }

  fieldset{
    width: 75%;
    padding-left: 5%;
    margin-bottom: 10%;
  }

  .input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 94%;
  }

  .chk{
    margin: 20px 0;
  }

  .send{
    width: 40%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: rgb(159, 156, 156);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    transition: 1s all;
    cursor: pointer;
  }
  .send:hover{
    background: #ffe100;
    transform: scale(1.2);
  }
 
